h2 {
    font-weight: bolder;
}

h3 {
    font-weight: bold;
    margin-top: 5px;
}

.horloge {
    margin-top: 5px;
    display: flex;
}

.date-article {
    color: #aaaaaa;
    font-weight: lighter;
    font-size: x-small;
    margin-top: 6px;
    margin-left: 3px;
}

.meme_catégorie {
    margin-top: 30px;
}
