@mixin blockCenter {
    margin-left: 50%;
    transform: translateX(-50%);

    @include sm {
        margin-left: 0;
        transform: translateX(0);
    }
}


header {
    z-index: 5;
}

.background-yellow {
    background-color: var(--yellow);
    width: 100%;
    height: 70vh;

    position: absolute;
    top: 0;
    left: 0;
}

.evt-wrapper {
    z-index: 3;
    position: relative;
}

.video-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include blockCenter;
    
    small {
        font-size: smaller;
        text-align: right;
        margin-top: .6rem;
        margin-bottom: 1.8rem;
    }

    @include sm {
        video {
            width: 100%;
        }
    }
}

.comment-user {
    display: flex;
    min-height: 150px;
    width: 70%;
    background-color: #f7f4f4;
    align-items: center;
    
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 2rem;

    @include blockCenter;

    @include sm {
        flex-direction: column;
        width: 100%;
    }

    @include md {
        width: 90%;
    }

    p {
        position: relative;

        &::before,
        &::after {
            content: '"';
        }

        @include sm {
            font-size: .9rem;
        }
    }

    .marcus {
        height: 100px;
        object-fit: contain;
        margin-right: 1.5rem;

        @include sm {
            margin-bottom: .9rem;
        }
    }
}

.form-signin-webinaire {
    .form-signin-webinaire-body {
        text-align: center;

        strong {
            color: var(--yellow);
            justify-content: center;
        }
    }

    background-color: #34283c;
    color: white;
    margin-left: 23%;
    width: 70%;
    padding: 1.8rem 12rem;
    text-align: center;

    @include blockCenter;
    @include sm {
        width: 100%;
        padding: 1rem;
        font-size: .85rem;
    }

    @include md {
        padding: 2rem 3rem;
        width: 90%;
    }
}

.form-evt {
    display: flex;
    flex-direction: column;

    &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 10px;

        @include sm {
            flex-direction: column;
        }
    }

    .form-element {
        text-align: initial;

        label {
            display: block;
        }

        input {
            width: 100%;
            border-radius: 7px;
            height: 30px;
            outline: 0;
            padding: 1rem;
        }

        &-checkbox {
            text-align: start ;
            margin-bottom: 1rem;
        }
      
    }
}

.comment-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.notation {
    display: flex;
    flex-flow: row nowrap;

    .etoiles {
        width: 21px;
        height: 21px;
        background-color: #ddd;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

        &.active {
            background-color: var(--yellow);
        }
    }
}