// Modules
// ==================
@import "module/variables";
@import "module/reset";
@import "module/classes";
@import "module/media_queries";
@import "module/base";


// Generic
// ==================

.container {
    width: 100%;
    padding-left: calc(50% - var(--container)/ 2);
    padding-right: calc(50% - var(--container)/ 2);
}

@import "module/footer";
@import "module/classes";



// Pages
// ==================
@import "pages/home";