// Modules
// ==================
@import "module/media_queries";
@import "module/animation";
@import "module/typographie";
@import "module/variables";
@import "module/reset";
@import "module/classes";
@import "module/base";
@import "module/form";


// Composants
// ==================
@import "module/header";
@import "module/footer";
@import "module/pagination";
@import "module/newsletter";
@import "module/evenements";

// Generic
// ==================
body {
    color: var(--dark);
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Libre Franklin', sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s;
    scroll-behavior: smooth !important;

    @include sm {
        background: none;
    }

    @include md {
        font-size: 14px;
    }
}

.layout {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.page-wrapper {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    background-attachment: scroll;
    padding: 20px;

    min-height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
}

.container {
    // box-sizing: border-box;
    // width: 100%;
    // padding-left: calc(50% - var(--container-width)/ 2);
    // padding-right: calc(50% - var(--container-width)/ 2);

    max-width: var(--container);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--white);
    z-index: 1000;
}

// Pages
// ==================
@import "pages/home";
@import "pages/formations";
@import "pages/recrutements";
@import "pages/evenements-p";
@import "pages/article";
