.content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    max-width: 100%;
    width: 100%;

    margin-bottom: 2.5rem;

    @include sm {
        flex-direction: column;
    }

    .content__left {
        flex: 2;
        margin-right: 20px;

        @include sm {
            flex: 1;
            margin-right: 0;
            margin-bottom: 20px;
        }

        @include md {
            flex: 1 1 calc(100% / 2);
            width: calc(100% / 2);
        }
    }

    .content__right {
        flex: 1;
        //background-color: red;

        @include md {
            flex: 1 1 calc(100% / 4);
            width: calc(100% / 4);
            margin-left: 2.5rem;
        }
    }
}