.container_evt {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10%;
}

.evenements_block {
  background-color: #f7f4f4;
  padding: 10px;
  margin-bottom: 1.25rem;
  width: 90%;
  transition: 0.3s;

  &:hover {
    background-color: #eeee;
  }
  @include xs {
    width: 100%;
  }

  @include md {
    width: 100%;
  }
}

.bio_evt {
  font-size: small;

  @include md {
    font-size: .7rem;
  }
}

.evenement_action {
  display: flex;
  justify-content: space-between;

  @include md {
    align-items: center;
    margin-bottom: .9rem;

    span {
      font-size: .65rem;
    }
  }

  p {
    background-color: var(--primary);
    height: 30px;
    padding: 5px;
    color: white;
    width: 25%;
    transform: translate(-52px, -10px);

    @include xs {
      display: flex;
      transform: translate(-10px, -10px);
      font-size: small;
      padding: 7px;
    }

    @include md {
      width: initial;
      transform: initial;
      height: initial;
      font-size: .7rem;
    }
  }
}

.publicite {
  margin-top: 10%;
  background-image: url("../../assets/img/publicite-banner.svg");
  height: 600px;
  padding: 10px;
}
