footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .border {
        height: 3px;
        width: 100%;
        background: #34283c;
        position: relative;
    }

    h5 {
        @include xs {
            display: flex;
            flex-direction: row;
        }

        @include sm {
            display: inline-flex;
            flex-direction: inherit;
        }

        @include md {
            display: inline-flex;
            flex-direction: inherit;
        }
    }

    .footer-columns {
        margin-top: 1.5rem;
        display: flex;
        flex-flow: row;
        width: 100%;

        @include xs {
            flex-flow: column;
            column-width: 100%;
        }

        @include sm {
            flex-flow: column;
            column-width: 100%;
        }

        @include md {
            flex-flow: row;
            column-width: 100%;
        }

        .footer-column {
            @include xs {
                margin-top: 25px;
                width: 100%;
            }

            @include sm {
                margin-top: 25px;
                max-width: 100%;
            }

            @include md {
                &:nth-child(2n) {
                    margin-right: 1.6rem;
                }

                &:nth-child(3) {
                    display: none;
                }
            }

            &:not(:first-child) {
                margin-left: 1.8rem;

                @include md {
                    margin-left: 0;
                }

                @include sm {
                    margin-left: 0;
                }
            }

            &:not(:last-child) {
                padding-right: 1.8rem;
                border-right: 1px solid rgba(17, 17, 17, 0.11);

                @include md {
                    border: none;
                }

                @include sm {
                    border: none;
                }
            }
        }

        #logo {
            height: 45px;
        }
    }

    .liens-rapides > li {
        margin-top: 10px;
        transition: all 0.5s ease;

        &:hover {
            //font-weight: 600;
            transform: translateX(10px);

            &::before {
                content: "> ";
            }
        }
    }

    #danews_txt {
        font-weight: bolder;

        @include xs {
            margin-left: 5px;
        }
    }

    #rapides_txt {
        font-weight: bolder;

        @include xs {
            margin-left: 5px;
        }
    }
    #newsletter_txt {
        font-weight: bolder;

        @include xs {
            margin-left: 5px;
        }
    }
    .form_newsletter {
        display: inline-flex;
        margin-top: 70px;

        @include sm {
            margin-top: 15px;
            display: flex;
        }

        @include xs {
            margin-top: 15px;
        }
    }
}
#email {
    padding-left: 5px;
    outline: 0;

    @include sm {
        display: flex;
        max-width: 50%;
    }
}

.global_sociaux {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .sociaux {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }
    .sociaux > a {
        margin-left: 10px;
    }
}

.liens-rapides {
    margin-top: 10px;
}
.footer-w3 {
    max-width: 35%;
    width: 100%;

    @include xs {
        max-width: 100%;
    }
}

.footer-w2 {
    max-width: 13%;
    width: 100%;

    @include xs {
        max-width: 100%;
    }
}

.bio_txt {
    margin-top: 10px;
    font-size: 0.9rem;

    @include md {
        font-size: .75rem;
    }
}

.border-bottom-footer {
    height: 1px;
    width: 100%;
    background: rgba(17, 17, 17, 0.267);
    margin-top: 1.5rem;
    position: relative;
}

.footer-mention {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    > p {
        @include xs {
            font-size: smaller;
        }
    }

    @include xs {
        padding-left: 20px;
        display: flex;
        flex-direction: row;
    }
}

.footer-mention-right {
    display: flex;

    #mentions_legales {
        margin-left: 10px;
    }
    @include xs {
        margin-left: 60px;
        font-size: smaller;
    }

    @include sm {
        margin-left: auto;
    }
}
