// Newsletter
// ==================
.newsletter {
    width: 100%;
}

.newsletter_block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    width: 100%;
    padding: 1.875rem 1.25rem;
    margin-bottom: 2rem;

    .newsletter_block_title {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        color: white;
    }
    .newsletter_block_txt {
        text-align: center;
        padding-top: 3%;
        color: white;

        @include xs {
            font-size: .7rem;
        }

        @include md {
            font-size: .7rem;
        }
    }
    .newsletter_btn {
        display: inline-grid;
        color: #34283c;
        background-color: white;
        text-align: center;
        width: 80%;
        padding: 5%;
        margin-top: 10%;
        transition: 0.3s;

        &:hover{
            background-color : #F0CD24;
        }

        @include xs {
            margin-top: 5%;
        }

        @include md {
            margin-top: 7%;
            font-size: .8rem;
        }

        > a {
            font-size: x-large;
        }
    }
}
